name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      ###################################################################
      #               BUILD NOTIFICATIONS SERVICE (GRADLE)
      ###################################################################
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build notifications service (Gradle)
        working-directory: notifications
        run: ./gradlew clean build -x test

      - name: Copy notifications JAR
        run: |
          mkdir -p package
          cp notifications/build/libs/notifications.jar package/notifications.jar

    ###################################################################
    #               BUILD ORDER SERVICE (MAVEN)
    ###################################################################
      - name: Set up Maven
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '17'

      - name: Build order-service-reactive (Maven)
        working-directory: order/order-service-reactive
        run: mvn clean package -DskipTests

      - name: Copy order-service JAR
        run: |
          mkdir -p package
          cp order/order-service-reactive/target/order-service-reactive-0.0.1-SNAPSHOT.jar package/order-service.jar
          
      ###################################################################
      #               PACKAGE BOTH SERVICES INTO ONE ZIP
      ###################################################################
      - name: Create deployment ZIP
        run: |
          cd package
          zip -r ../deploy.zip .
        shell: bash

      ###################################################################
      #               CONFIGURE AWS CREDENTIALS
      ###################################################################
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      ###################################################################
      #               UPLOAD BUNDLE TO S3 AND DEPLOY TO EB
      ###################################################################
      - name: Upload bundle to S3
        run: |
          aws s3 cp deploy.zip s3://acelera-s3/deploy-v${{ github.run_number }}.zip

      - name: Create new application version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name arka-app \
            --version-label v-${{ github.run_number }} \
            --source-bundle S3Bucket="acelera-s3",S3Key="deploy-v${{ github.run_number }}.zip"

      - name: Deploy to Elastic Beanstalk environment
        run: |
          aws elasticbeanstalk update-environment \
            --environment-name Arka-app-env \
            --version-label v-${{ github.run_number }}
